#{extends 'main.html'/}


<div id="content">

    <div class="container ">

        <div class="row-fluid">
            <div class="span12">
                <img src="@{Trainings.showImage(training.id)}" class="img-polaroid"/>
                <h2>Formation : ${training.title}</h2>

                <div class="row-fluid">
                    <div class="span9 well">
                        <h6>A qui cette formation s'adresse-t-elle ?</h6>
                        ${training.audience?.markdown()}

                        <h6>Objectifs</h6>
                        ${training.goals?.markdown()}

                        <h6>Méthode</h6>
                        ${training.methodology?.markdown()}

                        <h6>Prérequis</h6>
                        ${training.prerequisites?.markdown()}

                        <hr/>
                        <h5>Plan</h5>

                        ${training.agenda?.markdown()}

                    </div>

                    <div class="span3">
                        <h3>Prix (inter entreprises)</h3>
                        <span class="price">${training.price} € HT / personne</span>
                        <h3>Durée</h3>
                        <span class="length">${training.length} jours</span>	<br/>

                        <strong>Audience</strong> : ${training.audience} <br/>
                        <strong>Prix intra entreprises</strong> : Nous contacter<br/>
                        <strong>Formateurs</strong> : ${training.users.join(' ') } <br/>

                        <a href="/contact" class="btn btn-large btn-success">Demander un devis</a>
                    </div>
                </div>


            </div>
        </div>
    </div> <!-- /.container -->

</div> <!-- /#content -->