#{extends 'main.html'/}



<div id="content">

    <div class="container ">

        <div class="row-fluid hero-unit emphase">

            <div class="pagination-centered">
                <a href="@{Trainings.list()}" class="btn btn-xlarge btn-info">
                    <i class="icon-hdd"></i>
                    &nbsp;
                    Voir la liste de nos formations
                </a>
                &nbsp;
                &nbsp;
                &nbsp;
                <a href="@{Accounts.list()}" class="btn btn-large">
                    <i class="icon-group"></i>
                    &nbsp;
                    Voir la liste de nos formateurs
                </a>
            </div>


        </div>

        <h2>Ce que nous vous proposons</h2>

        <div class="row-fluid">
            <div class="span4">
                <p><i class="icon-globe" style="font-size:18px"></i> &nbsp; Ce qui nous intéresse ce sont les bonnes pratiques de développement logiciel et nous aimons les faire partager. Nous sommes basés à <strong>Paris</strong> et à <strong>Lyon</strong> mais nous pouvons nous déplacer sur <strong><u>tout le territoire</u></strong>.
                </p>
            </div>
            <div class="span4">
                <p>
                    <i class="icon-group" style="font-size:18px"></i> &nbsp; Nous vous proposons des formations "classiques" à des créneaux fixes dans l'année et sur des thèmes imposés.<br/>
                    Nous proposons aussi des sessions personnalisées, dans vos locaux, ce qui vous permet d'ajuster au mieux le programme à vos besoins.
                </p>
            </div>
            <div class="span4">
                <p>
                    <i class="icon-wrench" style="font-size:18px"></i> &nbsp; Nous vous invitons à discuter ensemble pour construire un programme adapté pour vous et votre équipe. Si vous avez une idée des compétences recherchées, jetez un oeil sur la liste des formateurs LT et contactez-nous pour en discuter.
                </p>
            </div>
        </div>
        <hr/>
        <!--
        <div class="row-fluid">
            <div class="pagination-centered">
                <img src="@{'/public/images/formations/recos/Direct_Energie.png'}"/>
                <img src="@{'/public/images/formations/recos/Naelan.jpg'}"/>
            </div>
        </div>
        -->


    </div> <!-- /.container -->

</div> <!-- /#content -->

